.bodyInner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 24rem;
    font-weight: 500;
    color: #1e1e1e;
    margin-bottom: 2rem;
    line-height: 1;
}

.titleArea {
    grid-column: 2 / 6;
}

.titleEn {
    font-size: 2.4rem;
    color: #1e1e1e;
}

.message {
    font-size: 2.4rem;
    color: #1e1e1e;
    font-weight: 400;
    border-bottom: 1px solid #1e1e1e;
}

.description {
    font-size: 1.4rem;
    color: #1e1e1e;
    font-weight: 400;
}

.homeLink {
    display: inline-block;
    padding: 1.5rem 3rem;
    background-color: #1e1e1e;
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    border-radius: 0.4rem;
    transition: background-color 0.3s ease;
}

.homeLink:hover {
    background-color: #333;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 8rem;
    }

    .message {
        font-size: 2rem;
    }

    .description {
        font-size: 1.4rem;
    }
}
