/*==========================================================================================*/
/*mainVisual*/
/*==========================================================================================*/

.mainVisual {
    height: 100vh;
}

.mainLogoArea {
    display: grid;
    column-gap: 4.8rem;
    grid-template-columns: repeat(5, 1fr);
    position: absolute;
    top: 43.6rem;
    padding: 0 9.6rem;
    width: calc(100% - 19.2rem);
}

.mainLogoInner {
    grid-column: 1 / 4;
}

.logoUnderArea {
    grid-column: 2 / 4;
}

.tagLine p {
    color: #fff;
}

.canvas {
    width: 100% !important;
    height: 100vh !important;
    position: fixed;
    z-index: -2;
}

/*==========================================================================================*/
/*About*/
/*==========================================================================================*/
.about {
    padding-top: 24rem;
}

.aboutInner {
    border-top: solid #1e1e1e 1px;
    border-bottom: solid #1e1e1e 1px;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
}

.aboutLeftBox {
    grid-column: 1 / 4;
}

.aboutTitle {
    border-bottom: solid #1e1e1e 1px;
    padding-bottom: 0.8rem;
}

.aboutTitle h1 {
    font-weight: 400;
}

.aboutTitle p {
    font-weight: 400;
}

.aboutConts {
    margin-top: 3.2rem;
}

.aboutConts p {
    font-weight: 400;
}

.aboutLinkBtn {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4.8rem;
    margin-top: 4.8rem;
}

.aboutLinkBtn a {
    grid-column: 1 / 2;
}

.aboutImg {
    grid-column: 4 / 6;
    grid-row: 1 / 4;
}

/*==========================================================================================*/
/*Service*/
/*==========================================================================================*/

.serviceInner {
    border-top: solid #1e1e1e 1px;
    border-bottom: solid #1e1e1e 1px;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
}

.serviceConts {
    border: solid #1e1e1e 1px;
    padding: 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.serviceConts img {
    width: 25%;
    height: auto;
}

.serviceConts h2 {
    font-size: 2rem;
}

.serviceLinkBtn {
    display: grid;
    align-items: end;
    height: calc(100% - 4.8rem);
}

/*==========================================================================================*/
/*Works*/
/*==========================================================================================*/

.worksInner {
    border-top: solid #1e1e1e 1px;
    border-bottom: solid #1e1e1e 1px;
}

.worksConts {
    grid-column: 2 / 6;
}

.worksLinkBtn {
    display: grid;
    align-items: end;
    height: calc(100% - 7rem);
    margin-bottom: 2.4rem;
}

/*==========================================================================================*/
/*News*/
/*==========================================================================================*/

.news {
    padding-bottom: 24rem !important;
}

.newsInner {
    border-top: solid #1e1e1e 1px;
    border-bottom: solid #1e1e1e 1px;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
}

.newsConts {
    grid-column: 2 / 6;
}

/*==========================================================================================*/
/*1090px以下*/
/*==========================================================================================*/

@media screen and (max-width: 1090px) {
    .serviceConts {
        display: block;
    }
    .serviceConts h2 {
        margin-top: 0.8rem;
    }
}

@media screen and (max-width: 900px) {
    .mainLogoArea {
        top: 45%;
        padding: 0 2.4rem;
    }
    .mainLogoInner {
        grid-column: 1 / 6;
    }
    .logoUnderArea {
        grid-column: 1 / 6;
        margin-top: 2.4rem;
    }
    .aboutImg {
        display: none;
    }
    .aboutLinkBtn a {
        grid-column: 1 / 3;
    }
    .serviceTitle {
        height: 16rem;
        width: 100%;
    }
    .serviceLinkBtn {
        grid-template-columns: repeat(3, 1fr);
    }
    .serviceLinkBtn a {
        grid-column: 1 / 3;
    }
    .serviceConts {
        margin-top: 2.4rem;
    }
    .worksTitle {
        height: 16rem;
        width: 100%;
        display: grid;
        padding-top: 2.4rem;
    }
    .worksLinkBtn {
        grid-template-columns: repeat(3, 1fr);
    }
    .worksLinkBtn a {
        grid-column: 1 / 3;
    }
    .newsTitle {
        height: 16rem;
        width: 100%;
        display: grid;
        padding-top: 2.4rem;
    }
    .newsLinkBtn {
        grid-template-columns: repeat(3, 1fr);
    }
    .newsLinkBtn a {
        grid-column: 1 / 3;
    }
}
