.newsItemBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4.8rem;
}

.newsImg {
    overflow: hidden;
}

.newsImg img {
    transition: transform 0.3s ease;
}

.newsItem:hover .newsImg img {
    transform: scale(1.2);
}

.newsDate {
    margin-top: 0.8rem;
}

.newsDate p {
    font-size: 1.4rem;
    font-weight: 400;
}

.newsItemTitle {
    margin-top: 0.8rem;
}

.newsItemTitle h3 {
    font-size: 1.6rem;
    font-weight: 600;
}

@media screen and (max-width: 900px) {
    .newsItemBox {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 2.4rem;
        row-gap: 4rem;
    }
    .newsItemTitle h3 {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
}
